:root {
  --tblr-primary: #5F8D4E;
}

::selection,
.text-selected {
  background-color: color-mix(in srgb, var(--tblr-teal) 30%, transparent);
}

.toast {
  /* --tblr-toast-spacing: calc(var(--tblr-page-padding) * 2); */
  --tblr-toast-spacing: 0px;
}