<div class="row">
    <div class="col-12 col-sm-5"> <!-- Date picker column -->
        <div class="date-picker-container">
            <div class="date-picker-buttons">
                <button class="btn" id="today-btn">Hari Ini</button>
                <button class="btn" id="next-month-btn">Bulan Depan</button>
                <button class="btn" id="clear-btn">Clear</button>
            </div>
            <div class="date-picker-header">
                <button class="btn btn-icon" id="prev-month">
                    {% include 'svg/chevron-left.svg.twig' %}
                </button>
                <div class="date-picker-month text-body" id="calendar-month-year"></div>
                <button class="btn btn-icon" id="next-month">
                    {% include 'svg/chevron-right.svg.twig' %}
                </button>
            </div>
            <div class="date-picker-weekdays text-secondary">
                <div>Sen</div>
                <div>Sel</div>
                <div>Rab</div>
                <div>Kam</div>
                <div>Jum</div>
                <div>Sab</div>
                <div>Min</div>
            </div>
            <div class="date-picker-days" id="calendar-days"></div>
            <div class="selected-date mt-2">
                <h3 class="selected-dates-count h6" id="selected-dates-count">0 Hari dipilih</h3>
                <div class="selected-dates" id="selected-dates"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-7"> <!-- Form fields column -->
        <form id="order-form">
            <div class="mb-3">
                <label for="customer-input" class="form-label text-muted">Pelanggan</label>
                <input class="form-control w-100" type="text" id="customer-input" placeholder="Ketik Nama Pelanggan" autocomplete="off" required>
            </div>
            <div class="row g-2 mb-3 package-list">
                <div class="col-7">
                    <label class="form-label">Paket Makanan</label>
                    <select title="Pilih Paket" class="form-select" id="package-select" required>
                        <option value="" disabled selected>Pilih Paket Makanan</option>
                        <!-- Options populated by JS -->
                    </select>
                </div>
                <div class="col-3">
                    <label class="form-label">Jumlah</label>
                    <input class="form-control" type="number" id="order-quantity" min="1" value="1" placeholder="Jumlah Pesanan" required>
                </div>
                <div class="col-2 align-self-end">
                    <button type="button" class="btn btn-icon btn-outline-primary add-package w-100" aria-label="Tambah paket">
                        {% include 'svg/plus.svg.twig' %}
                    </button>
                </div>
            </div>
            <div class="border rounded-3 mb-3">
                <div class="p-2 cursor-pointer d-flex align-items-center toggle-header" data-bs-toggle="collapse" data-bs-target="#additional-items-collapse" aria-expanded="false" aria-controls="additional-items-collapse">
                    {% include 'svg/chevron-right.svg.twig' %}
                    <span class="ms-2">Item Tambahan</span>
                </div>
                <div class="collapse" id="additional-items-collapse">
                    <div class="p-2">
                        <div class="row g-2 mb-3">
                            <div class="col-6">
                                <label class="form-label">Item Tambahan</label>
                                <input class="form-control" id="item-tambahan" type="text" placeholder="Item Tambahan">
                            </div>
                            <div class="col-3">
                                <label class="form-label">Harga</label>
                                <input class="form-control" id="harga-item-tambahan" type="number" min="0" placeholder="Harga">
                            </div>
                            <div class="col-3">
                                <label class="form-label">Modal</label>
                                <input class="form-control" id="harga-modal-item-tambahan" type="number" min="0" placeholder="Harga Modal">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-2 mb-3">
                <div class="col-6">
                    <label class="form-label">Kurir</label>
                    <select title="Pilih Kurir" class="form-select" id="courier-select">
                        <option value="" disabled>Pilih Kurir</option>
                        {% for courier in active_couriers %}
                            <option value="{{ courier.id }}" {{ courier.id == default_courier ? 'selected' : '' }}>{{ courier.nama }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-6">
                    <label class="form-label">Ongkos Kirim</label>
                    <div class="input-group">
                        <input title="Masukkan Ongkos Kirim" class="form-control" type="number" id="shipping-cost" value="{{ default_shipping_cost|default('5000') }}" min="5000" step="1000" required>
                        <span class="input-group-text d-none" id="shipping-fast-icon">
                            {% include 'svg/truck-delivery.svg.twig' %}
                        </span>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Metode Pembayaran</label>
                <select title="Pilih Metode Pembayaran" class="form-select" id="payment-method" required>
                    <option value="cod">COD</option>
                    <option value="transfer" selected>Transfer</option>
                    <option value="belum_bayar">Belum Bayar</option>
                </select>
            </div>
            <nav class="nav nav-segmented mb-3" role="tablist">
                <button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#order-notes-pane" role="tab" aria-selected="false">
                    {% include 'svg/clipboard-text.svg.twig' %}
                    Order Notes
                </button>
                <button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#kitchen-notes-pane" role="tab" aria-selected="false">
                    {% include 'svg/tools-kitchen-2.svg.twig' %}
                    Kitchen Notes
                </button>
                <button type="button" class="nav-link" data-bs-toggle="tab" data-bs-target="#courier-notes-pane" role="tab" aria-selected="false">
                    {% include 'svg/truck-delivery.svg.twig' %}
                    Courier Notes
                </button>
            </nav>
            <div class="tab-content">
                <div class="tab-pane fade" id="order-notes-pane" role="tabpanel">
                    <textarea class="form-control" id="order-notes" rows="3" placeholder="Order Notes"></textarea>
                </div>
                <div class="tab-pane fade" id="kitchen-notes-pane" role="tabpanel">
                    <textarea class="form-control" id="kitchen-notes" rows="3" placeholder="Kitchen Notes"></textarea>
                </div>
                <div class="tab-pane fade" id="courier-notes-pane" role="tabpanel">
                    <textarea class="form-control" id="courier-notes" rows="3" placeholder="Courier Notes"></textarea>
                </div>
            </div>
            <input type="hidden" id="selected-dates-hidden" name="selectedDates"/>
            {% if show_submit_button %}
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-primary">
                    {% include 'svg/check.svg.twig' %}
                    Simpan Pesanan
                </button>
            </div>
            {% endif %}
        </form>
    </div>
</div>
