<div id="batch-delete-toast" class="toast align-items-center position-fixed bottom-0 start-50 translate-middle-x mb-3 fade" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="d-flex">
      <div class="toast-body">
        <span id="selected-count">0</span> item(s) selected.
        <button id="delete-selected-btn-toast" class="btn btn-danger ms-2">Delete Selected</button>
      </div>
      <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
