<header class="navbar navbar-expand-md d-print-none text-teal">
  <div class="container-xl">
    <!-- Toggle Button untuk Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu"><span class="navbar-toggler-icon"></span></button>

    <!-- Logo dan Brand -->
    <div class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
      <a href="/" class="text-body">
        <img src="/images/fruit.png" alt="Logo" width="24" height="24">
        <span class="icon d-none d-sm-inline">
          Molagis
        </span>
        
      </a>
    </div>

    <!-- Tombol Toggle Theme dan Avatar -->
    <div class="navbar-nav ms-auto mx-2 flex-row order-md-last">
      <div class="nav-item">
        <button id="theme-toggle" class="btn btn-icon btn-pill btn-ghost p-0 mx-2 border-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Toggle theme dark/light" aria-label="Toggle theme">
          <svg id="theme-icon" class="icon icon-2 hide-theme-dark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" />
          </svg>
          <svg id="theme-icon" class="icon icon-2 hide-theme-light" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
            <path d="M3 12h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
          </svg>
        </button>
      </div>
      <div class="nav-item dropdown d-flex">
        <a href="#" class="nav-link d-flex lh-1 p-0 px-2" data-bs-toggle="dropdown" aria-label="Open user menu">
          <span class="avatar avatar-sm" style="background-image: url(https://api.dicebear.com/9.x/notionists-neutral/svg?seed={{ user_id|default('default-seed') }})"></span>
          <div class="d-none d-xl-block ps-2">
            <div>Admin</div>
            <div class="mt-1 small text-secondary">Super Admin</div>
          </div>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <a href="#" class="dropdown-item">Status</a>
          <a href="/profile" class="dropdown-item">Profile</a>
          <a href="#" class="dropdown-item">Feedback</a>
          <div class="dropdown-divider"></div>
          <a href="/settings" class="dropdown-item">Settings</a>
          <a href="/logout" class="dropdown-item">Logout</a>
        </div>
      </div>
    </div>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/customers" data-page="customers">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg class="icon icon-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                <path d="M16 3.13a4 4 0 0 1 0 7.75" />
                <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
              </svg>
            </span>
            <span class="nav-link-title">Pelanggan</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/input-order" data-page="input-order">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg class="icon icon-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" />
                <path d="M13.5 6.5l4 4" />
              </svg>
            </span>
            <span class="nav-link-title">Input</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/orders" data-page="orders">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg class="icon icon-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8" />
                <path d="M14 19l2 2l4 -4" />
                <path d="M9 8h4" />
                <path d="M9 12h2" />
              </svg>
            </span>
            <span class="nav-link-title">Pesanan</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/weekly-report" data-page="weekly-report">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg class="icon icon-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" />
                <path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" />
                <path d="M9 17v-4" />
                <path d="M12 17v-1" />
                <path d="M15 17v-2" />
                <path d="M12 17v-1" />
              </svg>
            </span>
            <span class="nav-link-title">Laporan</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/delivery-admin" data-page="delivery-admin">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg class="icon icon-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M5 17h-2v-4m-1 -8h11v12m-4 0h6m4 0h2v-6h-8m0 -5h5l3 5" />
                <path d="M3 9l4 0" />
              </svg>
            </span>
            <span class="nav-link-title">Admin Pengiriman</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
            <span class="nav-link-icon d-md-none d-lg-inline-block">
              <svg class="icon icon-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 16m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M19 16m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M7.5 14h5l4 -4h-10.5m1.5 4l4 -4" />
                <path d="M13 6h2l1.5 3l2 4" />
              </svg>
            </span>
            <span class="nav-link-title">Kurir</span>
          </a>
          <div class="dropdown-menu">
            {% if couriers is not empty %}
              {% for courier in couriers %}
                <a class="dropdown-item" href="/delivery/{{ courier.id }}" data-page="delivery">{{ courier.nama }}</a>
              {% endfor %}
            {% else %}
              <a class="dropdown-item" href="#" data-page="delivery">Kosong, cek koneksi internet</a>
            {% endif %}
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
