<div
	class="toast-container position-fixed bottom-0 end-0 p-3">
	<!-- Toast Pertama (Default) TIDAK DIPAKAI NANTI BISA DIHAPUS-->
	<!-- <div class="toast fade" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
		<div class="toast-header bg-teal-lt">
			<strong class="me-auto">Notifikasi</strong>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body" ></div>
	</div> -->

	<!-- Toast Kedua (Success, Sesuai Tabler) -->
	<div id="toast" class="toast fade" id="toast-save" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
		<div class="toast-header bg-teal-lt">
			<span class="avatar avatar-xs bg-teal-lt me-2">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-check">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<path d="M5 12l5 5l10 -10"></path>
				</svg>
			</span>
			<strong class="me-auto" id="toast-title">Info</strong>
			<button type="button" class="ms-2 btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body" id="toast-message">Laporan berhasil disimpan!</div>
	</div>


	<!-- Toast Kedua (Success, Sesuai Tabler) -->
	<div id="toast-error" class="toast border border-pink" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header text-success">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="icon me-2">
				<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
				<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"/>
				<path d="M12 9v4"/>
				<path d="M12 16v.01"/>
			</svg>
			<strong class="me-auto text-pink" id="toast-error-title">Notifikasi Error</strong>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body" id="toast-error-message"></div>
	</div>
</div>
